body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #68d4d1;
}

li {
  list-style-type: none;
}

#button_block{
  width: 900px;
  margin: auto;
}

#message_block{
  min-height: 400px;
  width: 550px;
  margin: auto;
}
