body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(/img/background4.png);
}

a {
  color: #00B7FF;
}

button:active, button:focus {
  outline: none;
}